<template>
	<require from="./login-view.css"></require>

	<div class="login-view">
		<mdc-layout-grid class=" p-0">
			<mdc-layout-grid-inner class="d-flex">
				<mdc-layout-grid-cell class="login-view-width">
					<div class="card-body product-tile__content box-shadow-login rounded-1 default-main-shadow">
						<h5 class="card-title product-tile__title border-bottom text-on-surface border-1 mb-4">Login</h5>
						<mdc-layout-grid-inner>
							<mdc-layout-grid-cell span="12">
								<form submit.trigger="submit()">
									<div class="form-floating mb-3">

										<input type="email"
											   id="E-Mail-Adresse"
											   class="form-control"
											   placeholder="E-Mail"
											   required
											   value.two-way="formInput.email"
										>
										<label for="E-Mail-Adresse">E-Mail-Adresse</label>
									</div>
									<div class="form-floating mb-3">
										<input type="password"
											   id="Passwort"
											   class="form-control"
											   placeholder="Password"
											   required
											   value.two-way="formInput.password"
										>
										<label for="Passwort">Passwort</label>
									</div>
									<p class="alert-danger border border-danger p-2" show.bind="forbiddenErrorOccured">
										Email/ Passwort falsch.
									</p>
									<p class="alert-danger border border-danger p-2" show.bind="unknownErrorOccured">
										UPPS! Unerwarteter Fehler. probiere es später erneut.
									</p>
									<div class="form-check form-switch mb-3">
										<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
											   ref="stayLoggedInSwitch">
										<label class="form-check-label text-on-surface" for="flexSwitchCheckDefault">Eingeloggt bleiben</label>
									</div>
									<button
										mdc-button
										unelevated
										type="submit"
										disabled.bind="submitting"
										class="mb-3"
									>
										Login
										<span
											class="spinner-border spinner-border-sm ms-2"
											role="status"
											aria-hidden="true"
											show.bind="submitting"
										>
										</span>
									</button>
									<a class="link-primary shop-text-decoration text-center d-block" route-href="route: register">
										Neu hier? Erstelle ein Konto!
									</a>
								</form>
							</mdc-layout-grid-cell>
						</mdc-layout-grid-inner>
					</div>
				</mdc-layout-grid-cell>
			</mdc-layout-grid-inner>
		</mdc-layout-grid>
	</div>
</template>
