<template>
	<require from="./login-view.css"></require>

	<div class="login-view p-5 ">
		<div class="container container-lg container-md container-sm">
			<div class="row">

				<div class="col-md-4"></div>

				<div class="col-md-4">

					<div class="card-body product-tile__content box-shadow-login rounded-1 default-main-shadow">
						<h5 class="card-title product-tile__title border-bottom border-1 mb-4">Login</h5>
						<div class="row">
							<div class="col-md-2"></div>

							<div class="col-md-12">

								<form submit.trigger="submit()">
									<div class="form-floating mb-3">

										<input type="email"
											   id="E-Mail-Adresse"
											   class="form-control"
											   placeholder="E-Mail"
											   required
											   value.two-way="formInput.email"
										>
										<label for="E-Mail-Adresse">E-Mail-Adresse</label>
									</div>

									<div class="form-floating mb-3">
										<input type="password"
											   id="Passwort"
											   class="form-control"
											   placeholder="Password"
											   required
											   value.two-way="formInput.password"
										>
										<label for="Passwort">Passwort</label>
									</div>

									<p class="alert-danger border border-danger p-2" show.bind="forbiddenErrorOccured">
										Email/ Passwort falsch.
									</p>
									<p class="alert-danger border border-danger p-2" show.bind="unknownErrorOccured">
										UPPS! Unerwarteter Fehler. probiere es später erneut.
									</p>

									<div class="form-check form-switch mb-3">
										<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
											   ref="stayLoggedInSwitch">
										<label class="form-check-label text-on-surface" for="flexSwitchCheckDefault">Eingeloggt bleiben</label>
									</div>

									<button type="submit"
											class="btn btn-primary login-btn mb-3"
											disabled.bind="submitting">
										login
										<span class="spinner-border spinner-border-sm"
											  role="status"
											  aria-hidden="true"
											  show.bind="submitting"></span>
									</button>

									<a class="link-primary text-center w-100 d-block" route-href="route: register">
										Neu hier? Erstelle ein Konto!
									</a>
								</form>

							</div>

						</div>

						<div class="col-md-2"></div>
					</div>

				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</div>
</template>
