<template>
	<require from="resources/components/product-tile/product-tile"></require>
	<require from="resources/components/shop-progress-tracker/shop-progress-tracker"></require>
	<require from="resources/components/shop-progress-tracker-step/shop-progress-tracker-step"></require>
	<require from="app.css"></require>
	<require from="./shopping-cart-view.css"></require>

	<div class="shopping-cart-view container p-0">
		<div class="row">
			<div class="col-md-8">
				<div class="card frost default-main-shadow">
					<div class="card-body">
						<div class="row mb-3">
							<div class="col">
								<shop-progress-tracker align="center"
													   text-position="top"
													   with-text="erdtkl"
								>
									<shop-progress-tracker-step title="Artikel"
																marker-text="1"
																complete.bind="
																navigation[1].isActive ||
																navigation[2].isActive ||
																navigation[3].isActive"
																active.bind="navigation[0].isActive"
									>Was?
									</shop-progress-tracker-step>
									<shop-progress-tracker-step title="Adresse"
																marker-text="2"
																complete.bind="
																navigation[2].isActive ||
																navigation[3].isActive"
																active.bind="navigation[1].isActive"
									>Wohin?
									</shop-progress-tracker-step>
									<shop-progress-tracker-step title="Zahlung"
																marker-text="3"
																complete.bind="navigation[3].isActive"
																active.bind="navigation[2].isActive"
									>Wie zahlen?
									</shop-progress-tracker-step>
									<shop-progress-tracker-step title="Übersicht"
																marker-text="4"
																active.bind="navigation[3].isActive"
									>In Ordnung?
									</shop-progress-tracker-step>
								</shop-progress-tracker>
							</div>
						</div>
						<router-view></router-view>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card frost default-main-shadow">
					<div class="card-body">
						<div class="row mb-3">
							<div class="row">
								<h5 class="text-on-surface">
									Bestellübersicht
								</h5>
								<h6 class="mb-3 sub-title">
									Alle Kosten im Überblick.
								</h6>
							</div>
							<div class="row pe-0">
								<div class="col-md-7">
									<span>Artikel-Kosten (2):</span>
								</div>
								<div class="col-md-5 pe-0">
									<div class="text-end">
										<span>584,98€</span>
									</div>
								</div>
							</div>
							<div class="row pe-0">
								<div class="col-md-9">
									<span>Verpackung und Versand:</span>
								</div>
								<div class="col-md-3 pe-0">
									<div class="text-end">
										<span>0,00€</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="row pe-0">
								<div class="col-md-7">
									<h3 class="mb-0 text-secondary-dark">Gesamtbetrag</h3>
								</div>
								<div class="col-md-5 text-end text-secondary-dark pe-0">
									<h3 class="mb-0">299,99</h3>
								</div>
								<div class="row pe-0">
									<p><small>Der Gesamtbetrag enthält die Mwst.</small></p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="text-center ">
								<button type="submit" class="btn btn-secondary border-primary w-100">
									<span class="h6 text-center">
										Sofort kaufen
									</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>
