.shop-item-amount {

    .mdc-menu {
        z-index : 1000;
    }

    .mdc-text-field {
        width : 150px !important;
    }

    .mdc-select__anchor {
        width : 150px !important;
    }

}

