<template>
	<require from="components/shop-dialog/shop-dialog"></require>
	<require from="components/address-field/address-field"></require>

	<div class="address-view">
		<h5 class="border-bottom border-1">
			Wohin soll es geschickt werden?
		</h5>
		<div>
			<div class="card form-check border-1 border-bottom mb-2">
				<div class="card-body">
					<input class="form-check-input position-absolute" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
					<label class="form-check-label w-100" for="flexRadioDefault1">
						<span>
							Name: Kai Rickus
						</span><br>
						<span>
							Adresse: Goethestr. 14
						</span><br>
						<span>
							Stadt: Köln
						</span><br>
						<span>
							PLZ: 50858
						</span><br>
						<span>
							Land:Deutschland
						</span>
					</label>
				</div>
			</div>
			<div class="card form-check border-1 border-bottom mb-2">
				<div class="card-body">
					<input class="form-check-input position-absolute" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
					<label class="form-check-label w-100" for="flexRadioDefault2">
						<span>
							Name: Janine Schmitt
						</span><br>
						<span>
							Adresse: Subbelratherstr. 590
						</span><br>
						<span>
							Stadt: Köln
						</span><br>
						<span>
							PLZ: 50858
						</span><br>
						<span>
							Land:Deutschland
						</span>
					</label>
				</div>
			</div>
			<div class="card form-check border-1 border-bottom mb-2">
				<div class="card-body">
					<input class="form-check-input position-absolute" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
					<label class="form-check-label w-100" for="flexRadioDefault3">
						<span>
							Name: Artur Erotschkin
						</span><br>
						<span>
							Adresse: Subbelratherstr. 590
						</span><br>
						<span>
							Stadt: Köln
						</span><br>
						<span>
							PLZ: 50858
						</span><br>
						<span>
							Land:Deutschland
						</span>
					</label>
				</div>
			</div>
			<div class="d-flex flex-row justify-content-between">
				<button type="button" class="btn btn-primary d-flex" data-bs-toggle="modal" data-bs-target="#address-dialog">
						<span class="material-icons-outlined ms-2">
							home
						</span>
					Adresse hinzufügen
				</button>
				<button type="submit" class="btn btn-secondary border-primary d-flex">
						<span class="material-icons-outlined me-2">
							payments
						</span>
					<span class="text-center">
							Zahlungsart festlegen
						</span>
				</button>
			</div>
		</div>
		<shop-dialog id="address-dialog" aria-labelledby="address-dialog-label">
			<div slot="header"><h5 id="address-dialog-label">Neue Adresse</h5></div>
			<div slot="body">
				<address-field class="border border-1"></address-field>
			</div>
			<div slot="footer">
			<span>
				<button type="submit" class="btn btn-secondary border-primary d-flex">
				<i class="fa fa-solid fa-plus"></i>
				Neue Adresse hinzufügen
				</button>
			</span>
			</div>
		</shop-dialog>
</template>
