<template>
	<require from="components/shop-dialog/shop-dialog"></require>
	<require from="components/address-field/address-field"></require>

	<div class="address-view">
		<div class="grid">
			<div class="row">
				<h5 class="text-on-surface">
					Deine Adresse
				</h5>
				<h6 class="mb-3 sub-title">
					Wohin soll es geschickt werden?
				</h6>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="card form-check mb-3">
						<div class="card-body">
							<input class="form-check-input position-absolute" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
							<label class="form-check-label w-100 ms-2" for="flexRadioDefault1">
								<div class="row">
									<div class="col-4">Name:</div>
									<div class="col-8">Kai Rickus</div>
								</div>
								<div class="row">
									<div class="col-4">Straße:</div>
									<div class="col-8">Goethestr. 14</div>
								</div>
								<div class="row">
									<div class="col-4">Stadt:</div>
									<div class="col-8">Köln</div>
								</div>
								<div class="row">
									<div class="col-4">PLZ:</div>
									<div class="col-8">50858</div>
								</div>
								<div class="row">
									<div class="col-4">Land:</div>
									<div class="col-8">Deutschland</div>
								</div>
							</label>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="card form-check border-1 border-bottom mb-3">
						<div class="card-body">
							<input class="form-check-input position-absolute" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
							<label class="form-check-label w-100 ms-2" for="flexRadioDefault2">
								<div class="row">
									<div class="col-4">Name:</div>
									<div class="col-8">Björn Rickus</div>
								</div>
								<div class="row">
									<div class="col-4">Straße:</div>
									<div class="col-8">Jahnstraße 3</div>
								</div>
								<div class="row">
									<div class="col-4">Stadt:</div>
									<div class="col-8">Pulheim</div>
								</div>
								<div class="row">
									<div class="col-4">PLZ:</div>
									<div class="col-8">50259</div>
								</div>
								<div class="row">
									<div class="col-4">Land:</div>
									<div class="col-8">Deutschland</div>
								</div>
							</label>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="card form-check border-1 border-bottom mb-3">
						<div class="card-body">
							<input class="form-check-input position-absolute" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
							<label class="form-check-label w-100 ms-2" for="flexRadioDefault3">
								<div class="row">
									<div class="col-4">Name:</div>
									<div class="col-8">Artur Erotschkin</div>
								</div>
								<div class="row">
									<div class="col-4">Straße:</div>
									<div class="col-8">Subbelratherstr. 590</div>
								</div>
								<div class="row">
									<div class="col-4">Stadt:</div>
									<div class="col-8">Köln</div>
								</div>
								<div class="row">
									<div class="col-4">PLZ:</div>
									<div class="col-8">50827</div>
								</div>
								<div class="row">
									<div class="col-4">Land:</div>
									<div class="col-8">Deutschland</div>
								</div>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<button type="button" class="btn d-flex btn-sm fw-bold text-on-surface ps-0 mb-2"
							data-bs-toggle="modal"
							data-bs-target="#address-dialog">
						Adresse hinzufügen
						<span class="material-icons-outlined ms-2">add</span>
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="d-flex flex-row justify-content-between">
						<div>
							<div class="d-flex justify-content-start">
								<a type="submit"
								   class="btn btn-primary border-primary d-flex"
								   route-href="route: items"
								>
							<span class="material-icons-outlined me-2">
								shopping_cart
							</span>
									Zurück
								</a>
							</div>
						</div>
						<a type="submit"
						   class="btn btn-secondary border-primary d-flex"
						   route-href="route: payment"
						>
						<span class="text-center">
							Weiter
						</span>
							<span class="material-icons-outlined ms-2">payments</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<shop-dialog id="address-dialog" aria-labelledby="address-dialog-label">
		<div slot="header">
			<h5 id="address-dialog-label">
				<div class="row">
					<h5 class="text-on-surface">
						Deine Adresse
					</h5>
					<h6 class="mb-3 sub-title">
						Gib eine neue Adresse ein.
					</h6>
				</div>
			</h5>
		</div>
		<div slot="body">
			<address-field class="border border-1"></address-field>
		</div>
		<div slot="footer">
			<span>
				<button type="submit" class="btn btn-sm btn-secondary border-primary d-flex">
					Neue Adresse hinzufügen und auswählen
				</button>
			</span>
		</div>
	</shop-dialog>
</template>
