<template>
	<require from="components/shop-dialog/shop-dialog"></require>
	<require from="components/address-field/address-field"></require>

	<div class="address-view">
		<mdc-layout-grid>
			<mdc-layout-grid-inner class="mb-3">
				<mdc-layout-grid-cell span="12">
					<h5 class="text-on-surface">
						Deine Adresse
					</h5>
					<h6 class="sub-title">
						Wohin soll es geschickt werden?
					</h6>
				</mdc-layout-grid-cell>
			</mdc-layout-grid-inner>
			<mdc-layout-grid-inner class="mb-3">

				<mdc-layout-grid-cell span="6" repeat.for="address of addresses">
					<mdc-radio></mdc-radio>

					<mdc-card class="frost rounded">
						<mdc-card-primary-action>
							<mdc-form-field>
								<mdc-radio model.bind="address" checked.two-way="selectedAddress"></mdc-radio>
								<label class="w-100 ms-2">
									<mdc-layout-grid-inner>
										<mdc-layout-grid-cell span="4">Name:</mdc-layout-grid-cell>
										<mdc-layout-grid-cell span="8">${address.name}</mdc-layout-grid-cell>
									</mdc-layout-grid-inner>
									<mdc-layout-grid-inner>
										<mdc-layout-grid-cell span="4">Straße:</mdc-layout-grid-cell>
										<mdc-layout-grid-cell span="8">${address.street}</mdc-layout-grid-cell>
									</mdc-layout-grid-inner>
									<mdc-layout-grid-inner>
										<mdc-layout-grid-cell span="4">Stadt:</mdc-layout-grid-cell>
										<mdc-layout-grid-cell span="8">${address.city}</mdc-layout-grid-cell>
									</mdc-layout-grid-inner>
									<mdc-layout-grid-inner>
										<mdc-layout-grid-cell span="4">PLZ:</mdc-layout-grid-cell>
										<mdc-layout-grid-cell span="8">${address.zip}</mdc-layout-grid-cell>
									</mdc-layout-grid-inner>
									<mdc-layout-grid-inner>
										<mdc-layout-grid-cell span="4">Land:</mdc-layout-grid-cell>
										<mdc-layout-grid-cell span="8">${address.country}</mdc-layout-grid-cell>
									</mdc-layout-grid-inner>
								</label>
							</mdc-form-field>
						</mdc-card-primary-action>
					</mdc-card>
				</mdc-layout-grid-cell>

				<!--				<mdc-layout-grid-cell span="6">-->
				<!--					<mdc-card class="form-check frost rounded">-->
				<!--						<mdc-card-primary-action>-->
				<!--							<mdc-form-field>-->
				<!--								<mdc-radio type="radio" name="addressRadioButton"></mdc-radio>-->
				<!--								<label class="form-check-label w-100 ms-2">-->
				<!--									<mdc-layout-grid-inner>-->
				<!--										<mdc-layout-grid-cell span="4">Name:</mdc-layout-grid-cell>-->
				<!--										<mdc-layout-grid-cell span="8">Björn Rickus</mdc-layout-grid-cell>-->
				<!--									</mdc-layout-grid-inner>-->
				<!--									<mdc-layout-grid-inner>-->
				<!--										<mdc-layout-grid-cell span="4">Straße:</mdc-layout-grid-cell>-->
				<!--										<mdc-layout-grid-cell span="8">Jahnstraße 3</mdc-layout-grid-cell>-->
				<!--									</mdc-layout-grid-inner>-->
				<!--									<mdc-layout-grid-inner>-->
				<!--										<mdc-layout-grid-cell span="4">Stadt:</mdc-layout-grid-cell>-->
				<!--										<mdc-layout-grid-cell span="8">Pulheim</mdc-layout-grid-cell>-->
				<!--									</mdc-layout-grid-inner>-->
				<!--									<mdc-layout-grid-inner>-->
				<!--										<mdc-layout-grid-cell span="4">PLZ:</mdc-layout-grid-cell>-->
				<!--										<mdc-layout-grid-cell span="8">50259</mdc-layout-grid-cell>-->
				<!--									</mdc-layout-grid-inner>-->
				<!--									<mdc-layout-grid-inner>-->
				<!--										<mdc-layout-grid-cell span="4">Land:</mdc-layout-grid-cell>-->
				<!--										<mdc-layout-grid-cell span="8">Deutschland</mdc-layout-grid-cell>-->
				<!--									</mdc-layout-grid-inner>-->
				<!--								</label>-->
				<!--							</mdc-form-field>-->
				<!--						</mdc-card-primary-action>-->
				<!--					</mdc-card>-->
				<!--				</mdc-layout-grid-cell>-->

				<!--				<mdc-layout-grid-cell span="6">-->
				<!--					<mdc-card class="form-check frost rounded">-->
				<!--						<mdc-card-primary-action>-->
				<!--							<mdc-form-field>-->
				<!--								<mdc-radio type="radio" name="addressRadioButton"></mdc-radio>-->
				<!--								<label class="form-check-label w-100 ms-2">-->
				<!--									<mdc-layout-grid-inner>-->
				<!--										<mdc-layout-grid-cell span="4">Name:</mdc-layout-grid-cell>-->
				<!--										<mdc-layout-grid-cell span="8">Artur Erotschkin</mdc-layout-grid-cell>-->
				<!--									</mdc-layout-grid-inner>-->
				<!--									<mdc-layout-grid-inner>-->
				<!--										<mdc-layout-grid-cell span="4">Straße:</mdc-layout-grid-cell>-->
				<!--										<mdc-layout-grid-cell span="8">Subbelratherstr. 590</mdc-layout-grid-cell>-->
				<!--									</mdc-layout-grid-inner>-->
				<!--									<mdc-layout-grid-inner>-->
				<!--										<mdc-layout-grid-cell span="4">Stadt:</mdc-layout-grid-cell>-->
				<!--										<mdc-layout-grid-cell span="8">Köln</mdc-layout-grid-cell>-->
				<!--									</mdc-layout-grid-inner>-->
				<!--									<mdc-layout-grid-inner>-->
				<!--										<mdc-layout-grid-cell span="4">PLZ:</mdc-layout-grid-cell>-->
				<!--										<mdc-layout-grid-cell span="8">50827</mdc-layout-grid-cell>-->
				<!--									</mdc-layout-grid-inner>-->
				<!--									<mdc-layout-grid-inner>-->
				<!--										<mdc-layout-grid-cell span="4">Land:</mdc-layout-grid-cell>-->
				<!--										<mdc-layout-grid-cell span="8">Deutschland</mdc-layout-grid-cell>-->
				<!--									</mdc-layout-grid-inner>-->
				<!--								</label>-->
				<!--							</mdc-form-field>-->
				<!--						</mdc-card-primary-action>-->
				<!--					</mdc-card>-->
				<!--				</mdc-layout-grid-cell>-->

			</mdc-layout-grid-inner>
			<mdc-layout-grid-inner class="mb-3">
				<mdc-layout-grid-cell>
					<button type="button" class="btn d-flex btn-sm fw-bold text-on-surface ps-0"
							data-bs-toggle="modal"
							data-bs-target="#address-dialog">
						Adresse hinzufügen
						<span class="material-icons-outlined ms-2">add</span>
					</button>
				</mdc-layout-grid-cell>
			</mdc-layout-grid-inner>
			<mdc-layout-grid-inner class="mb-3">
				<mdc-layout-grid-cell span="12">
					<div class="d-flex flex-row justify-content-between">
						<div class="d-flex justify-content-start">
							<a type="submit"
							   class="btn btn-primary border-primary d-flex"
							   route-href="route: items"
							>
								<span class="material-icons-outlined me-2">
									shopping_cart
								</span>
								Zurück
							</a>
						</div>
						<a type="submit"
						   class="btn btn-secondary border-primary d-flex"
						   route-href="route: payment"
						>
							<span class="text-center">
								Weiter
							</span>
							<span class="material-icons-outlined ms-2">payments</span>
						</a>
					</div>
				</mdc-layout-grid-cell>
			</mdc-layout-grid-inner>
		</mdc-layout-grid>
	</div>
	<shop-dialog id="address-dialog" aria-labelledby="address-dialog-label">
		<div slot="header">
			<h5 id="address-dialog-label">
				<mdc-layout-grid-inner class="mb-3">
					<h5 class="text-on-surface">
						Deine Adresse
					</h5>
					<h6 class="sub-title">
						Gib eine neue Adresse ein.
					</h6>
				</mdc-layout-grid-inner>
			</h5>
		</div>
		<div slot="body">
			<address-field class="border border-1"></address-field>
		</div>
		<div slot="footer">
			<span>
				<button type="submit" class="btn btn-sm btn-secondary border-primary d-flex">
					Neue Adresse hinzufügen und auswählen
				</button>
			</span>
		</div>
	</shop-dialog>
</template>
