<template>
	<require from="components/product-details-main/product-details-main"></require>
	<require from="components/product-search-results/product-search-results"></require>
	<require from="components/customer-reviews/customer-reviews"></require>
	<require from="components/customer-reviews-item/customer-reviews-item"></require>

	<div class="product-detail-view dafault-main-column">
		<div class="grid">
			<div class="row">
				<div class="col-12">
					<product-details-main data.bind="data"
										  if.bind="dataTags !== undefined"
					></product-details-main>
				</div>

				<div class="col-12">
					<div class="card frost default-main-shadow overflow-hidden mb-4">
						<div class="card-body">
							<h5 class="card-title border-bottom border-1">Ähnliche Artikel</h5>
							<product-search-results limit.bind="4"
													search.bind="dataTags"
													if.bind="dataTags !== undefined"
													exclude.bind="[uuid]"
													no-shadow.bind="true"
							></product-search-results>
						</div>
					</div>
				</div>

				<div class="col-12">
					<div class="card frost default-main-shadow overflow-hidden">
						<div class="card-body">
							<h5 class="card-title border-bottom border-1">Bewertungen</h5>
							<customer-reviews id.bind="id">
							</customer-reviews>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
