<template class="customer-reviews">
	<require from="components/customer-reviews-item/customer-reviews-item"></require>
	<customer-reviews-item
		repeat.for="review of reviews"
		rating.bind="review.rating"
		user.bind="review.fullName"
		avatar.bind="review.avatar"
		created.bind="review.created"
	>
		${review.text}
	</customer-reviews-item>

	<button type="button"
			class="btn btn-primary border-primary position-relative bottom-0 start-50 translate-middle-x"
			click.trigger="loadReviewsPackage()"
			if.bind="!allReviewsFetched"
			disabled.bind="loading">

		Weitere Bewertungen laden
		<span class="spinner-border spinner-border-sm"
			  role="status"
			  aria-hidden="true"
			  show.bind="loading">
		</span>
	</button>

	<span
		class="text-center d-inline-block w-100"
		else>
		Keine ${reviews.length === 0 ? '' : 'weiteren ' }Bewertungen gefunden.
	</span>

</template>

