<template class="d-flex justify-content-end custom-rating"
		  data-bs-toggle="${count !== undefined ? 'tooltip' : ''}"
		  data-bs-placement="top"
		  title="${count !== undefined ? count + ' Kunden haben diesen Artikel bewertet' : ''}"
>
	<require from="./custom-rating.css"></require>

	<div>
		<div class="custom-rating__stars text-primary">
			<mdc-icon show.bind="rating < 0.5">star_border</mdc-icon>
			<mdc-icon show.bind="rating === 0.5">star_half</mdc-icon>
			<mdc-icon show.bind="rating >= 1">star</mdc-icon>

			<mdc-icon show.bind="rating < 1.5">star_border</mdc-icon>
			<mdc-icon show.bind="rating === 1.5">star_half</mdc-icon>
			<mdc-icon show.bind="rating >= 2">star</mdc-icon>

			<mdc-icon show.bind="rating < 2.5">star_border</mdc-icon>
			<mdc-icon show.bind="rating === 2.5">star_half</mdc-icon>
			<mdc-icon show.bind="rating >= 3">star</mdc-icon>

			<mdc-icon show.bind="rating < 3.5">star_border</mdc-icon>
			<mdc-icon show.bind="rating === 3.5">star_half</mdc-icon>
			<mdc-icon show.bind="rating >= 4">star</mdc-icon>

			<mdc-icon show.bind="rating < 4.5">star_border</mdc-icon>
			<mdc-icon show.bind="rating === 4.5">star_half</mdc-icon>
			<mdc-icon show.bind="rating >= 5">star</mdc-icon>

		</div>
	</div>
</template>
