$height             : 69vh;
$animation-duration : 250ms;

.shop-bottom-sheet-menu {
    width    : 100vw;
    height   : $height;
    display  : block;
    position : fixed;
    z-index  : 200;
    bottom   : 0;
    left     : 0;

    .shop-bottom-sheet-menu__scrim {
        background-color : rgba(0, 0, 0, 0.70);
        position         : fixed;
        height           : 100vh;
        top              : 0;
        left             : 0;
        width            : 100%;
    }

    .shop-bottom-sheet-menu__content {
        width      : 100%;
        height     : $height;
        display    : block;
        background : white;
        position   : absolute;
        bottom     : 0;
        left       : 0;
    }

    &.animate--rise {
        &.au-enter {
            bottom : -$height;

            .shop-bottom-sheet-menu__scrim {
                opacity : 0;
            }
        }

        &.au-enter-active {
            animation : rise $animation-duration;

            .shop-bottom-sheet-menu__scrim {
                animation : fadeIn $animation-duration;
            }
        }

        &.au-leave {
            bottom : 0;

            .shop-bottom-sheet-menu__scrim {
                opacity : 1;
            }
        }

        &.au-leave-active {
            animation : sink $animation-duration;

            .shop-bottom-sheet-menu__scrim {
                animation : fadeOut $animation-duration;
            }
        }
    }

    @keyframes rise {
        from {
            bottom : -$height;
        }

        to {
            bottom : 0;
        }
    }

    @keyframes sink {
        from {
            bottom : 0;
        }

        to {
            bottom : -$height;
        }
    }

    @keyframes fadeIn {
        from {
            opacity : 0;
        }

        to {
            opacity : 1;
        }
    }

    @keyframes fadeOut {
        from {
            opacity : 1;
        }

        to {
            opacity : 0;
        }
    }
}
