<template class="customer-reviews-item">
	<require from="./customer-reviews-item.css"></require>
	<require from=".././custom-rating/custom-rating"></require>
	<require from="valueConverters/local-date-value-converter"></require>
	<div class="card mb-4">
		<div class="card-body">
			<mdc-layout-grid class="p-0">
				<mdc-layout-grid-inner>
					<mdc-layout-grid-cell span="10">
						<div class="mb-2 d-flex">
							<div
								if.bind="!avatar"
								class="loading-shell customer-reviews-item__avatar__shell"
							>
								&nbsp;
							</div>
							<img
								else
								class="customer-reviews-item__avatar"
								src="${avatar}"
							>
							<strong
								class="${user ? '' : 'loading-shell'} ms-2"
							>
								${user ? user : "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"}
							</strong>
						</div>
					</mdc-layout-grid-cell>
					<mdc-layout-grid-cell span="2">
						<custom-rating
							if.bind="!rating"
							rating.bind="0"
						>
						</custom-rating>
						<custom-rating
							else
							rating.bind="rating"
						>
						</custom-rating>
					</mdc-layout-grid-cell>

					<mdc-layout-grid-cell span="12">
						<div class="mb-2">
							<span class=" ${created ? '' : 'loading-shell'} customer-reviews-item__date">
								<span
									if.bind="!created"
								>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								</span>
								<span else>
									${created | localDate}
								</span>
							</span>
						</div>
					</mdc-layout-grid-cell>
					<mdc-layout-grid-cell span="12">
						<slot></slot>
					</mdc-layout-grid-cell>
				</mdc-layout-grid-inner>
			</mdc-layout-grid>
		</div>
	</div>
</template>
