<template class="customer-reviews-item">
	<require from="./customer-reviews-item.css"></require>
	<require from=".././custom-rating/custom-rating"></require>
	<div class="card mb-4">
		<div class="card-body">
			<div class="grid">
				<div class="row">
					<div class="col-10">
						<div class="mb-2">
							<img class="customer-reviews-item__avatar"
								 src="${image}"
								 alt="Profilbild">
							<strong class="ms-2">${user}</strong>
						</div>
					</div>

					<div class="col-2">
						<custom-rating
							rating.bind="2"
							count.bind="4"
						>
						</custom-rating>
					</div>

					<div class="row">
						<div class="col-12">
							<div class="mb-2">
							<span class="customer-reviews-item__date">
								${date}
							</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<slot></slot>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
