@use "../../../variables";

.customer-reviews-item {
    .customer-reviews-item__avatar {
        border-radius : 50%;
        transform     : translate(0); /* Necessary to prevent a visual glitch from happening */
    }
    .customer-reviews-item__avatar__shell{
        width: 24px;
        border-radius: 50%;
    }

    .customer-reviews-item__date {
        font-size   : 0.75rem;
        color       : variables.$disabled-grey;
        font-weight : bold;
    }
    .mdc-layout-grid__inner{
        gap: 10px !important;
    }
}
