<template>

	<require from="./register-view.css"></require>

	<div class="register-view p-5">
		<div class="container container-lg container-md container-sm">
			<div class="row">
				<div class="col-lg-4 col-md-2 col-sm-1"></div>
				<div class="col-lg-4 col-md-8 col-sm-10">

					<div class="card-body product-tiles-item__content  box-shadow-register rounded-1">
						<h5 class="card-title product-tiles-item__title mb-4 border-bottom border-1">Registrieren</h5>

						<div class="row">
							<div class="col">

								<form submit.trigger="submit()">

									<div class="row">

										<div class="col-md-6">

											<div class="form-floating mb-3">
												<input type="text"
													   id="firstname"
													   name="firstname"
													   class="form-control"
													   placeholder="Vorname"
													   required
													   value.two-way="formInput.firstname"
												>
												<label for="firstname">Vorname</label>
											</div>
										</div>

										<div class="col-md-6">

											<div class="form-floating mb-3">
												<input type="text"
													   id="lastname"
													   class="form-control"
													   placeholder="Nachname"
													   required
													   value.two-way="formInput.lastname"
												>
												<label for="lastname">Nachname</label>
											</div>
										</div>
									</div>

									<div class="form-floating mb-3">
										<input type="email"
											   id="email-form-field"
											   name="email"
											   class="form-control"
											   placeholder="E-Mail"
											   required
											   value.two-way="formInput.email"
										>
										<label for="email-form-field">Email</label>
									</div>
									<div class="row">
										<div class="col-md-6">

											<div class="form-floating mb-3">
												<input type="password"
													   name="password"
													   id="password-form-field"
													   class="form-control"
													   placeholder="Passwort"
													   required
													   ref="password"
													   change.trigger="passwordChanged()"
												>
												<label for="password-form-field">Passwort</label>
											</div>
										</div>
										<div class="col-md-6">

											<div class="form-floating mb-3">
												<input type="password"
													   id="repeatedPassword-form-field"
													   class="form-control"
													   placeholder="Passwort wiederholen"
													   required
													   value.two-way="formInput.password"
													   ref="passwordConfirm"
													   change.trigger="passwordChanged()"
												>
												<label for="repeatedPassword-form-field">Passwort wiederholen</label>
											</div>
										</div>
									</div>
									<div class="row">

										<div class="col">

											<div class="form-floating mb-3">

												<input class="form-control"
													   list="country-form-options"
													   id="country-form-field"
													   placeholder="Adresse"
													   required
													   value.two-way="formInput.address"
												>
												<datalist id="country-form-options">
													<option value="Deutschland">
													<option value="Russland">
													<option value="Polen">
													<option value="Spanien">
													<option value="Vereinigtes Könogreich der dummen Affen">
												</datalist>
												<label for="country-form-field">Adresse</label>
											</div>
										</div>

									</div>

									<p class="alert-danger border border-danger p-2" show.bind="forbiddenErrorOccured">
										Email/ Passwort falsch.
									</p>
									<p class="alert-danger border border-danger p-2" show.bind="unknownErrorOccured">
										UPPS! Unerwarteter Fehler. probiere es später erneut.
									</p>
									<div class="form-check mb-4">
										<input class="form-check-input"
											   type="checkbox"
											   id="newsletter-form-field"
											   checked.two-way="formInput.newsletter"
										>
										<label class="form-check-label"
											   for="newsletter-form-field">
											Abonniere unseren Newsletter.
										</label>

									</div>
									<div class="mb-2">
										<label>Indem du auf „Registrieren“ klickst, stimmst du unseren<b> Nutzungsbedingungen </b> zu.</label>
									</div>

									<button type="submit" class="btn btn-primary login-btn mb-3" disabled.bind="submitting">
										Registrieren
										<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" show.bind="submitting"></span>
									</button>

								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-2 col-sm-1"></div>
			</div>
		</div>
	</div>
</template>
