<template>
	<require from="./register-view.css"></require>
	<require from="components/address-field/address-field"></require>
	<require from="attributes/mdc-textfield-pattern"></require>

	<div class="register-view">
		<mdc-card class="p-3 default-form-card box-shadow-register">

			<form>
				<mdc-layout-grid-inner>
					<mdc-layout-grid-cell span="12">
						<div mdc-headline6  class="text-on-surface">Registrieren</div>
					</mdc-layout-grid-cell>
					<mdc-layout-grid-cell span="6">
						<div class="au-text-field">
							<mdc-text-field
								label="Vorname"
								outlined
								value.two-way="formInput.firstname"
								view-model.ref="inputs.firstname"
								disabled.bind="submitting"
								required
							>
							</mdc-text-field>
							<mdc-text-field-helper-line>
								<mdc-text-field-helper-text validation>Darf nicht leer sein</mdc-text-field-helper-text>
							</mdc-text-field-helper-line>
						</div>
					</mdc-layout-grid-cell>
					<mdc-layout-grid-cell span="6">
						<div class="au-text-field">
							<mdc-text-field
								label="Nachname"
								outlined
								value.two-way="formInput.lastname"
								view-model.ref="inputs.lastname"
								disabled.bind="submitting"
								required
							>
							</mdc-text-field>
							<mdc-text-field-helper-line>
								<mdc-text-field-helper-text validation>Darf nicht leer sein</mdc-text-field-helper-text>
							</mdc-text-field-helper-line>
						</div>
					</mdc-layout-grid-cell>
					<mdc-layout-grid-cell span="12">
						<div class="au-text-field">
							<mdc-text-field
								label="Email-Adresse"
								type="email"
								outlined
								value.two-way="formInput.email"
								view-model.ref="inputs.email"
								mdc-textfield-pattern.bind="emailRegex"
								focusout.trigger="showEmailUsedErrorText = inputs.email.input_.validity.patternMismatch"
								disabled.bind="submitting"
								required
							>
							</mdc-text-field>
							<mdc-text-field-helper-line>
								<mdc-text-field-helper-text
									show.bind="!showEmailUsedErrorText"
									validation
								>
									Muss eine valide Email-Adresse sein
								</mdc-text-field-helper-text>
								<mdc-text-field-helper-text
									validation
									show.bind="showEmailUsedErrorText"
								>
									Email-Adresse bereits registriert
								</mdc-text-field-helper-text>
							</mdc-text-field-helper-line>
						</div>
					</mdc-layout-grid-cell>
					<mdc-layout-grid-cell span="6">
						<div class="au-text-field">
							<mdc-text-field
								type="password"
								view-model.ref="inputs.password"
								label="Passwort"
								outlined
								mdc-textfield-pattern.bind="passwordRegex"
								disabled.bind="submitting"
								required
							>
							</mdc-text-field>
							<mdc-text-field-helper-line>
								<mdc-text-field-helper-text validation>Muss einen Klein- und Großbuchstaben, eine Zahl, ein Sonderzeichen enthalten</mdc-text-field-helper-text>
							</mdc-text-field-helper-line>
						</div>
					</mdc-layout-grid-cell>
					<mdc-layout-grid-cell span="6">
						<div class="au-text-field">
							<mdc-text-field
								type="password"
								view-model.ref="inputs.passwordConfirm"
								label="Passwort wiederholen"
								outlined
								value.two-way="formInput.password"
								valid.bind="password.value === passwordConfirm.value"
								disabled.bind="submitting"
								required
							>
							</mdc-text-field>
							<mdc-text-field-helper-line>
								<mdc-text-field-helper-text validation>Muss übereinstimmen</mdc-text-field-helper-text>
							</mdc-text-field-helper-line>
						</div>
					</mdc-layout-grid-cell>
					<mdc-layout-grid-cell span="12">
						<address-field
							place-id.two-way="formInput.placeId"
							label="Adresse"
							placeholder="Tippe zum Suchen"
							view-model.ref="inputs.address"
							disabled.bind="submitting"
						></address-field>
					</mdc-layout-grid-cell>
					<mdc-layout-grid-cell span="12">
						<mdc-layout-grid-cell span="12">
							<mdc-form-field>
								<mdc-checkbox checked.bind="checked" disabled.bind="submitting"></mdc-checkbox>
								<label>Erhalte Neuigkeiten und Angebote per Email in unserem Newsletter.</label>
							</mdc-form-field>
						</mdc-layout-grid-cell>
						<mdc-layout-grid-cell span="12">
							<mdc-form-field>
								<mdc-checkbox
									checked.two-way="conditionsAccepted"
									view-model.ref="inputs.conditions"
									disabled.bind="submitting"
								></mdc-checkbox>
								<label>Du hast unsere
									<a href="https://www.ihk-muenchen.de/de/Service/Recht-und-Steuern/Vertragsrecht/mustervertraege/agb-webshop.html" class="shop-text-decoration">AGB's</a>
									und
									<a href="https://muster-vorlage.ch/wp-content/uploads/2018/09/Muster-Datenschutzerklaerung-Schweiz.jpg" class="shop-text-decoration">Datenschutzbestimmung</a>
									gelesen und akzeptierst diese.*</label>
							</mdc-form-field>
							<mdc-text-field-helper-line class="conditions-error-line ${conditionsAccepted === false ? 'conditions-error-line--show' : ''}">
								<mdc-text-field-helper-text>Es müssen unsere AGB's und Datenschutzbestimmung akzeptiert werden.</mdc-text-field-helper-text>
							</mdc-text-field-helper-line>
						</mdc-layout-grid-cell>
					</mdc-layout-grid-cell>

					<mdc-layout-grid-cell span="12">
						<button
							mdc-button
							unelevated
							type="button"
							disabled.bind="submitting"
							click.trigger="submit()"
						>
							Registrieren
							<span
								class="spinner-border spinner-border-sm ms-2"
								role="status"
								aria-hidden="true"
								show.bind="submitting"
							></span>
						</button>
					</mdc-layout-grid-cell>
					<mdc-layout-grid-cell span="12" class="d-flex justify-content-center">
						<a class="link-primary shop-text-decoration text-center" route-href="route: login">
							Bereits registriert? Melde dich hier an!
						</a>
					</mdc-layout-grid-cell>
				</mdc-layout-grid-inner>
			</form>
		</mdc-card>
	</div>
	<mdc-dialog view-model.ref="incompleteAddressDialog">
		<mdc-dialog-title>
			Unvollstädnige Adresse.
		</mdc-dialog-title>
		<mdc-dialog-content>
			Bitte geben Sie eine vollständige Adresse ein.
			<br>
			Eine vollständige Adresse beinhaltet:
			<ul>
				<li> Straße inkl. Hausnummer</li>
				<li> Postleitzahl</li>
				<li> Stadt</li>
				<li> Land</li>
			</ul>
		</mdc-dialog-content>
		<mdc-dialog-actions>
			<button
				mdc-button data-mdc-dialog-action="ok"
				data-mdc-dialog-button-default
				data-mdc-dialog-initial-focus
			>Ok
			</button>
		</mdc-dialog-actions>
	</mdc-dialog>
	<mdc-dialog view-model.ref="unknownErrorDialog">
		<mdc-dialog-title>
			Unbekannter Fehler
		</mdc-dialog-title>
		<mdc-dialog-content>
			Versuchen Sie es später nochmal!
		</mdc-dialog-content>
		<mdc-dialog-actions>
			<button
				mdc-button data-mdc-dialog-action="ok"
				data-mdc-dialog-button-default
				data-mdc-dialog-initial-focus
			>Ok
			</button>
		</mdc-dialog-actions>
	</mdc-dialog>
</template>
