$product-tile-gap : 20px;

.product-search-results {
    display   : flex;
    flex-wrap : wrap;
    gap       : $product-tile-gap;
}

.product-tile__price {
    font-weight : 700;
    font-size   : 2rem;
}

.product-tile__title {
    display       : block;
    white-space   : nowrap;
    overflow      : hidden;
    text-overflow : ellipsis;
    width         : 100%;
}

