@use "src/theme";
@import "node_modules/progress-tracker/src/styles/progress-tracker";

$completed-marker-color : theme.$lighter-primary-color;
$active-marker-color    : theme.$light-primary-color;
$marker-hovered-color   : theme.$lightest-primary-color;
$marker-color           : theme.$disabled-grey;


.shop-progress-tracker.progress-tracker {
    margin : 0;

    .progress-step {

        &.is-complete {
            .progress-marker {
                &::before {
                    background-color : $completed-marker-color;
                }

                &::after {
                    background-color : $completed-marker-color;
                    z-index          : 0 !important
                }
            }
        }

        &.is-active .progress-marker::before {
            background-color : $active-marker-color;
        }

        .progress-marker {

            &::before {
                background-color : $marker-color;
            }

            &::after {
                z-index          : 0 !important;
                background-color : $marker-color;
            }
        }

    }

    .progress-text {
        background-color : unset !important;
    }

    .progress-title {
        margin : 0;
    }

    .progress-marker:hover::before {
        background-color : $marker-hovered-color !important;
        cursor           : pointer;
    }
}
