<template class="shop-select-menu mdc-select mdc-select--filled ${disabled ? 'mdc-select--disabled': ''} w-100"
		  ref="selectMenuElement"
>
	<require from="./shop-select-menu.css"></require>

	<div class="mdc-select__anchor"
		 role="button"
		 aria-haspopup="listbox"
		 aria-expanded="false"
		 aria-labelledby="select-menu-label select-menu-selected-text">
		<span class="mdc-select__ripple"></span>
		<span id="select-menu-label" class="mdc-floating-label">${lable}</span>
		<span class="mdc-select__selected-text-container">
			<span id="select-menu-selected-text" class="mdc-select__selected-text" aria-disabled="${disabled}"></span>
		</span>
		<span class="mdc-select__dropdown-icon">
			<svg
				class="mdc-select__dropdown-icon-graphic"
				viewBox="7 10 10 5" focusable="false">
				<polygon
					class="mdc-select__dropdown-icon-inactive"
					stroke="none"
					fill-rule="evenodd"
					points="7 10 12 15 17 10">
				</polygon>
				<polygon
					class="mdc-select__dropdown-icon-active"
					stroke="none"
					fill-rule="evenodd"
					points="7 15 12 10 17 15">
				</polygon>
			</svg>
		</span>
		<span class="mdc-line-ripple"></span>
	</div>

	<div class="mdc-select__menu demo-width-class mdc-menu mdc-menu-surface">
		<ul class="mdc-deprecated-list">
			<slot></slot>
		</ul>
	</div>
</template>

