@use "src/layout";
@use "src/variables";

.home-view {
    max-width : layout.$content-width-desktop !important;
    width: 100%;

    .banner {
        color : white;
        background-color: variables.$danger-color;
    }
}


