<template>
	<require from="components/product-deals/product-deals"></require>
	<require from="components/product-search-results/product-search-results"></require>
	<require from="components/recent-search-results/recent-search-results"></require>
	<require from="components/recent-search-results/recent-search-results"></require>
	<require from="./home-view.css"></require>

	<div class="home-view layout">
		<mdc-layout-grid class="p-0">
			<mdc-layout-grid-inner>
				<mdc-layout-grid-cell span="12">
					<product-deals></product-deals>
				</mdc-layout-grid-cell>
				<mdc-layout-grid-cell span="12">
					<div class="card frost default-main-shadow overflow-hidden mb-4">
						<div class="card-body">
							<h5 class="card-title border-bottom border-1">Nur für dich</h5>
							<product-search-results></product-search-results>
						</div>
					</div>
				</mdc-layout-grid-cell>
				<mdc-layout-grid-cell span="12">
					<recent-search-results></recent-search-results>
				</mdc-layout-grid-cell>
			</mdc-layout-grid-inner>
		</mdc-layout-grid>
	</div>
</template>
