<template>
	<require from="components/deals/deals"></require>
	<require from="components/product-search-results/product-search-results"></require>
	<require from="components/recent-search-results/recent-search-results"></require>

	<div class="home-view">

		<deals></deals>
		<div class="card frost default-main-shadow overflow-hidden mb-4">
			<div class="card-body">
				<h5 class="card-title border-bottom border-1">Nur für dich</h5>
				<product-search-results></product-search-results>
			</div>
		</div>
		<recent-search-results></recent-search-results>
	</div>
</template>
