<template>
	<require from="./email-sent-view.css"></require>

	<div class="email-sent-view container p-0">
		<mdc-card>
			<mdc-layout-grid>
				<mdc-layout-grid-inner>
					<mdc-layout-grid-cell span="12">
						<div mdc-headline4>Vielen Danke für deine Registrierung</div>
					</mdc-layout-grid-cell>
					<mdc-layout-grid-cell span="12">
						<div mdc-body>
							Wir haben dir eine
							<b>Email </b>gesendet mit der du dich verifizieren kannst.
						</div>
					</mdc-layout-grid-cell>
					<mdc-layout-grid-cell span="12">
						<div mdc-body1>
							<span>Solltest du keine erhalten haben klicke
								<a href="#!" class="shop-text-decoration"><b>hier</b></a> oder kontaktiere unseren
								<a route-href="route: support" class="shop-text-decoration"><b>Kundensupport</b></a></span>
						</div>
					</mdc-layout-grid-cell>
					<mdc-layout-grid-cell span="12" class="d-flex justify-content-around">
						<a mdc-button href="#" class="shop-text-decoration">
							<b>Zur Startseite</b>
						</a>
						<a mdc-button class="shop-text-decoration" click.trigger="sendVerificationEmail()">
							<b>Email erneut senden</b>
						</a>
					</mdc-layout-grid-cell>
				</mdc-layout-grid-inner>
			</mdc-layout-grid>
		</mdc-card>
	</div>
</template>
