@use "../../../variables";
@use "../../../theme";

$height-desktop : 98px;

.navigation-bar {
    display   : block;
    max-width : 1320px;
    margin    : auto;
    width     : 100%;

    .search-bar-container { width : 100%; }


    .shopping-cart-icon {
        background-color : variables.$secondary-color !important;
    }

    .shopping-cart-badge {
        position : absolute;
        top      : -5px;
        right    : -5px;
    }

    .profile-menu {
        top   : 65px !important;
        left  : 1126px !important;
        right : 36px !important;
    }
}

