<template class="navigation-bar">
	<require from="./navigation-bar.css"></require>
	<require from="components/search-bar/search-bar"></require>

	<nav class="navbar navbar-expand-lg pt-4 pb-4">
		<div class="container-fluid p-0">
			<a class="navbar-brand" href="#">
				<img class="logo-small" src="../src/img/Logo%20Small.png" alt="Shop App">
			</a>
			<button class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
				<div class="d-flex justify-content-center search-bar-container">
					<search-bar found.trigger="search($event)"></search-bar>
				</div>
				<div class="pe-3">
					<a href="#/shopping-cart">
						<span class="material-icons-outlined text-on-primary">
							shopping_cart
						</span>
					</a>
				</div>
				<ul class="navbar-nav mb-2 mb-lg-0">

					<li if.bind="_user.refreshToken & signal:'logging-in'" class="nav-item dropdown">
						<a class="nav-link pe-0"
						   href="#"
						   id="navbarDropdown"
						   role="button"
						   data-bs-toggle="dropdown"
						   aria-expanded="false"
						>
							<img class="rounded-circle" src.bind="_user.avatar" alt="Profilbild ${_user.firstName} ${_user.lastName}">
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li>
								<a class="dropdown-item d-flex align-middle" href="">
									<span>Mein konto</span>
									<span class="material-icons-outlined text-primary end-0">account_circle</span>
								</a>
							</li>
							<li>
								<a class="dropdown-item d-flex align-middle" href="#">
									<span>Einstellungen</span>
									<span class="material-icons-outlined text-primary end-0">settings</span>
								</a>
							</li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li>
								<a class="dropdown-item d-flex align-middle" href="#">
									<span>Ausloggen</span>
									<span class="material-icons-outlined text-primary end-0">logout</span>
								</a>
							</li>
						</ul>
					</li>
					<li else class="nav-item">
						<a route-href="login">
							<span class="material-icons-outlined text-on-primary">face_unlock</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

</template>
