<template class="navigation-bar">
	<require from="./navigation-bar.css"></require>
	<require from="components/search-bar/search-bar"></require>
	<require from="components/shop-icon-button/shop-icon-button"></require>
	<require from="components/shop-account-menu/shop-account-menu"></require>

	<nav class="navbar navbar-expand-lg pt-4 pb-4">
		<div class="container-fluid m-0 p-0">
			<a class="navbar-brand p-0 me-2" href="#">
				<img class="logo-small" src="../src/img/logo/shop-app-colored-logo.png" alt="Shop App">
			</a>
			<button class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
				<div class="d-flex justify-content-center search-bar-container">
					<search-bar found.trigger="search($event)"></search-bar>
				</div>
				<a route-href="shopping-cart" class="text-on-secondary ms-2">
					<shop-icon-button icon="shopping_cart" outlined.bind="true" class="position-relative shopping-cart-icon">
						<span slot="outer" class="shopping-cart__badge badge rounded-pill bg-danger"
							  textcontent.bind="setItemAmount() & async & signal:'cart-updated':_LOGIN_STATE_CHANGED_SIGNAL"
							  show.bind="_itemsCount > 0 & signal:_LOGIN_STATE_CHANGED_SIGNAL"
						>
						</span>
					</shop-icon-button>
				</a>
				<div>
					<button
						mdc-icon-button
						icon="manage_accounts"
						mdc-button
						raised
						click.trigger="hierarchical.open = !hierarchical.open"
						class="ms-2 shopping_cart"
					>
					</button>
					<mdc-menu
						class="profile-menu"
						view-model.ref="hierarchical"
						anchor.bind="hierarchicalAnchor"
						stay-open-on-selection
					>
						<mdc-list
							wrap-focus.bind="wrapFocus"
							tabindex="-1"
						>
							<mdc-list-item
								mdclistitem:action.trigger="hierarchical.open = false"
							>
								Einstellungen
							</mdc-list-item>
							<mdc-list-item
								show.bind="_user.loggedIn & signal:_LOGIN_STATE_CHANGED_SIGNAL"
								click.trigger="_user.logout()"
								mdclistitem:action.trigger="hierarchical.open = false"
							>Abmelden
							</mdc-list-item>
							<mdc-list-item
								show.bind="!_user.loggedIn & signal:_LOGIN_STATE_CHANGED_SIGNAL"
								click.trigger="routeToLogin()"
								mdclistitem:action.trigger="hierarchical.open = false"
							>Anmelden
							</mdc-list-item>
						</mdc-list>
					</mdc-menu>
				</div>
			</div>
		</div>
	</nav>

</template>


