@use "src/theme";

$radio-button-button : 50px;

.payment-view {
    .radio-button-button {
        height           : $radio-button-button;
        //background-color : white;

        img {
            width  : auto;
            height : 100% !important;
        }

    }
}
