<template>
	<require from="app.css"></require>
	<require from="./items-view.css"></require>
	<require from="valueConverters/currency-value-converter"></require>
	<require from="components/shop-icon-button/shop-icon-button"></require>
	<require from="components/shop-select-menu/shop-select-menu"></require>
	<require from="components/shop-select-menu-option/shop-select-menu-option"></require>

	<div class="items-view au-animate animate--fade-in animate--fade-out">
		<h5 class="text-on-surface">Deine Artikel</h5>
		<h6 class="mb-3 sub-title">Diese Artikel wirst du kaufen.</h6>
		<div class="card frost mb-3 rounded-1 overflow-hidden border-0 overflow-visible"
			 repeat.for="item of getCardItems() & async & signal:'cart-updated'"
		>
			<div class="d-flex">
				<a href="#/product-detail?id=${item.product.id}" class="shop-ripple">
					<img class="img-size ratio-16x9" src="${item.product.image}" alt="produkt-thumbnail">
				</a>

				<div class=" p-0 ">
					<div class="card-body h-100 d-flex flex-column justify-content-between">
						<div class="">
							<h4 class="p-0 w-auto text-on-surface card-title">
								${item.product.title}
							</h4>
						</div>

						<div class="d-flex justify-content-between">
							<div class="w-25 d-flex">
								<shop-select-menu change.trigger="setCartItems(item.product.id, $event.detail.value)" lable="Anzahl">
									<shop-select-menu-option value.bind="1" selected.bind="item.amount ===1">1</shop-select-menu-option>
									<shop-select-menu-option value.bind="2" selected.bind="item.amount ===2">2</shop-select-menu-option>
									<shop-select-menu-option value.bind="3" selected.bind="item.amount ===3">3</shop-select-menu-option>
									<shop-select-menu-option value.bind="4" selected.bind="item.amount ===4">4</shop-select-menu-option>
									<shop-select-menu-option value.bind="5" selected.bind="item.amount ===5">5</shop-select-menu-option>
								</shop-select-menu>
								<shop-icon-button icon="delete_forever"
												  outlined.bind=true
												  class="position-relative text-danger ms-2"
												  click.trigger="setCartItems(item.product.id, 0)"
								>
								</shop-icon-button>
							</div>
							<span class="fs-4 fw-bold text-on-surface">${item.product.price | currency:'EUR'}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="d-flex justify-content-end">
				<a type="submit"
				   mdc-button
				   unelevated
				   route-href="route: address"
				   class="mdc-button--secondary"
				>

					<span mdc-button-label>Weiter</span>
					<mdc-icon>local_shipping</mdc-icon>
				</a>
			</div>
		</div>
	</div>
</template>

