@use "@material/theme/color-palette";
@use "src/variables" as variables;

.items-view {
    $menu-max-width : 120px;

    .img-size {
        max-height   : 177px;
        aspect-ratio : 16 / 9;
    }

    //.item-card-height {
    //    height : 155px;
    //
    //}

    .no-items {
        color : variables.$danger-color;
    }

    mdc-card {
        max-height : 177px;
    }
}

router-view {
    overflow : visible !important;
}
