<template>
	<require from="app.css"></require>
	<require from="./items-view.css"></require>
	<require from="valueConverters/currency-value-converter"></require>
	<require from="../../../../resources/components/shop-icon-button/shop-icon-button"></require>

	<div class="items-view">
		<h5 class="text-on-surface">
			Deine Artikel
		</h5>
		<h6 class="mb-3 sub-title">
			Diese Artikel wirst du kaufen.
		</h6>
		<div class="card frost mb-3 rounded-1 overflow-hidden border-0"
			 repeat.for="item of getCardItems() & async & signal:'cart-updated'"
		>
			<div class="d-flex">
				<div class="">
					<img class="img-size ratio-16x9 " src="${item.product.image}" alt="produkt-thumbnail">
				</div>

				<div class=" p-0 ">
					<div class="card-body h-100 d-flex flex-column justify-content-between">
						<div class="">
							<h4 class="p-0 w-auto text-on-surface card-title">
								${item.product.title}
							</h4>
						</div>
						<div class="d-flex justify-content-between">
							<div class="w-25 d-flex">
								<select class="form-select" aria-label="Default select example" value.bind="item.amount">
									<option selected>Menge</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10+</option>
								</select>
								<shop-icon-button icon="delete_forever"
												  outlined.bind=true
												  class="position-relative text-danger ms-2"
												  click.trigger="setCartitems(item.product.id)"
								>

								</shop-icon-button>
							</div>
							<span class="fs-4 fw-bold text-on-surface">${item.product.price | currency:'EUR'}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="d-flex justify-content-end">
				<a href="#/shopping-cart/address"
				   class="btn btn-secondary border-primary d-flex"
				>
					Weiter
					<span class="material-icons-outlined ms-2">local_shipping</span>
				</a>
			</div>
		</div>
	</div>
</template>

