@use "../../../variables";
@use "@material/textfield/variables" as textfield-variables;
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

$grey-highlight-bg        : #e9ecef;
$grey-highlight-font      : #212529;

$primary-rgb              : variables.$primary-color;
$highlighted-border       : variables.$highlighted;
$highlighted-border-width : 1px;

.address-field {
    display  : block;
    position : relative;

    &.address-field--has-suggestions {
        .mdc-text-field {
            .mdc-notched-outline__leading {
                border-bottom-left-radius : 0;
            }

            .mdc-notched-outline__trailing {
                border-bottom-right-radius : 0;
            }
        }

        .address-field__input {
            border-bottom-left-radius  : 0;
            border-bottom-right-radius : 0;
        }
    }

    .mdc-text-field {
        width : 100%;
    }

    //.address-field__form {
    //    position            : absolute;
    //    width               : 100%;
    //    top                 : 0;
    //    left                : 0;
    //    z-index             : 100;
    //    backdrop-filter     : blur(30px);
    //    flex-direction      : column;
    //    display             : flex;
    //    border-radius       : variables.$default-border-radius;
    //    overflow            : hidden;
    //    transition          : box-shadow;
    //    transition-duration : 100ms;
    //}

    .address-field__input {
        width               : 100%;
        border              : none;
        backdrop-filter     : blur(30px);
        transition          : background-color, color;
        transition-duration : 100ms;
        box-sizing          : border-box;
        border-radius       : variables.$default-border-radius;
    }

    .address-field__suggestions {
        width         : 100%;
        padding-left  : 0;
        list-style    : none;
        margin-top    : 1px;
        margin-bottom : 0;
        display       : block;
        position      : absolute;
        top           : textfield-variables.$height;
        z-index       : 200;

        .address-field__suggestions__item {
            border-radius : 0;
            border        : none;
            cursor        : pointer;
            transition    : none;
            box-sizing    : border-box;

            &:last-of-type {
                padding-bottom             : 7px;
                border-bottom-right-radius : variables.$default-border-radius;
                border-bottom-left-radius  : variables.$default-border-radius;
            }
        }

        .address-field__suggestions__item:hover {
            background-color : darken(white, 15%);
        }

        .address-field__suggestions__item:focus {
            $border-size     : 0px;

            background-color : darken(white, 15%);
            box-sizing       : border-box;
            border           : $border-size solid black;
            padding-top      : calc(#{$input-padding-y} - #{$border-size});
            padding-left     : calc(#{$input-padding-x} - #{$border-size});
            padding-right    : calc(#{$input-padding-x} - #{$border-size});
            padding-bottom   : calc(#{$input-padding-y} - #{$border-size});
        }
    }
}
