<template class="address-field ${suggestions.length > 0 ? 'address-field--has-suggestions' : ''}"
		  ref="element"
		  keydown.trigger="_onKeyDown( $event )"
		  focusout.trigger="_onFocusOut($event)"
>
	<require from="./address-field.css"></require>
	<require from="attributes/custom-focus"></require>

	<mdc-text-field
		view-model.ref="input"
		label.bind="label"
		outlined
		required.bind="required"
		placeholder.bind="placeholder"
		value.two-way="inputValue & validate"
		input.trigger="_getSuggestions() & throttle:THROTTLE_DURATION"
		custom-focus.bind="selectionCounter === -1"
		focus.trigger="selectionCounter = -1"
		valid.two-way="valid"
		disabled.bind="disabled"
		spellcheck="false"
	></mdc-text-field>
	<mdc-text-field-helper-line></mdc-text-field-helper-line>
	<div
		class="address-field__icons"
	>
		<span
			class="spinner-border spinner-border-sm ms-2 address-field__icon-spinner"
			role="status"
			aria-hidden="true"
			show.bind="_validationPending"
		></span>
		<mdc-icon
			class="material-icons mdc-button__icon address-field__icon-valid"
			show.bind=" !_validationPending && _addressValidationStatus === VALIDATION_STATUS.valid"
		>
			check_circle_outline
		</mdc-icon>
		<mdc-icon
			class="material-icons mdc-button__icon address-field__icon-invalid"
			show.bind="!_validationPending && _addressValidationStatus === VALIDATION_STATUS.invalid"
		>
			warning_amber
		</mdc-icon>
	</div>

	<ul
		class="address-field__suggestions"
		show.bind="suggestions.length > 0"
		ref="suggestionsElement"
	>
		<li
			class="address-field__suggestions__item form-control"
			repeat.for="suggestion of suggestions"
			click.trigger="_selectSuggestion(suggestion.description, suggestion.place_id)"
			tabindex="1"
			custom-focus.bind="selectionCounter === $index"
			value.two-way="formInput.placeId"
			data-place-id.bind="suggestion.place_id"
			focus.trigger="selectionCounter = $index"
		>${suggestion.description}
		</li>
	</ul>
</template>

