<template class="address-field ${suggestions.length > 0 ? 'address-field--has-suggestions' : ''}"
		  ref="element"
		  keydown.trigger="onKeyDown( $event )"
		  focusout.trigger="onFocusOut($event)"
>
	<require from="./address-field.css"></require>
	<require from="attributes/custom-focus"></require>

	<mdc-text-field
		label.bind="label"
		outlined
		required.bind="required"
		placeholder.bind="placeholder"
		value.bind="inputValue"
		input.trigger="getSuggestions() & throttle:THROTTLE_DURATION"
		keydown.trigger="onKeyDown($event)"
		custom-focus.bind="selectionCounter === -1"
		focus.trigger="selectionCounter = -1"
	></mdc-text-field>
	<mdc-text-field-helper-line>
		<mdc-text-field-helper-text validation>Es muss eine Adresse ausgewählt sein</mdc-text-field-helper-text>
	</mdc-text-field-helper-line>

	<!--		<input class="form-control address-field__input"-->
	<!--			   id="adress-field"-->
	<!--			   autocomplete="off"-->
	<!--			   required.bind="required"-->
	<!--			   type="text"-->
	<!--			   placeholder="Adresse"-->
	<!--			   aria-label="Suchen"-->
	<!--			   spellcheck="false"-->
	<!--			   value.bind="inputValue"-->
	<!--			   input.trigger="getSuggestions()"-->
	<!--			   keydown.trigger="onKeyDown($event)"-->
	<!--			   custom-focus.bind="selectionCounter === -1"-->
	<!--			   focus.trigger="selectionCounter = -1"-->
	<!--		>-->
	<!--		<label for="adress-field">Adresse</label>-->

	<ul class="address-field__suggestions"
		show.bind="suggestions.length > 0"
	>
		<li class="address-field__suggestions__item form-control"
			repeat.for="suggestion of suggestions"
			click.trigger="dispatchEvent(suggestion.description, suggestion.place_id)"
			tabindex="1"
			custom-focus.bind="selectionCounter === $index"
			value.two-way="formInput.placeId"
			data-place-id.bind="suggestion.place_id"
			focus.trigger="selectionCounter = $index"
		>
			${suggestion.description}
		</li>
	</ul>
</template>

