@use "../../../layout";
@use "../../../variables";

$section-height-desktop  : 72px;
$footer-background-color : rgba(variables.$primary-color, 0.7);

.shop-footer {
    .container {
        max-width : layout.$content-width-desktop !important;
    }

    footer {
        background : $footer-background-color;
    }

    .shop-footer__header, .shop-footer__footer {
        background : $footer-background-color;
    }

    .logo-small { height : 36px !important; }
}
