<template>
	<div class="not-found-view container p-0">
		<div class="card frost">
			<div class="card-body">
				<div class="row">
					<div class="col-12">
						<h1 class="display-1 text-center">404</h1>
						<h1 class="text-center">Seite nicht erreichbar</h1>
						<div class="text-center">
							<span class="text-primary">
								Womöglich existiert die von dir gesuchte Seite nicht oder wird gewartet.
								Gehe zurück zur
								<a href="home-view"><b>Startseite</b></a>
								oder melde dich bei unserem
								<a href="!#"><b>Kundensupport</b></a>.
							</span>
						</div>
					</div>
					<div class="d-flex justify-content-center pt-3">
						<button class="btn btn-primary col-2">
							Zur Startseite
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
