@use "@material/theme/color-palette";
@use "src/variables";

$shipment-location-width : 200px;

.overview-view {

    .article-list, .products:nth-child(even) {
        background-color : color-palette.$grey-100;
    }

    .shipment-location {
        width : $shipment-location-width;
    }

    .disabled {
        background-color : color-palette.$grey-300;
        color            : variables.$disabled-grey;
    }

    .no-iformartion{
        color: color-palette.$purple-800;
    }
}
