@import "../product-search-results/product-search-results";

$amount-per-row : 4;

.product-tile {
    display          : flex;
    min-width        : 150px;
    flex-shrink      : 1;
    flex-basis       : calc(100% / #{$amount-per-row} - #{$product-tile-gap} * (1 - 1 / #{$amount-per-row}));
    border           : none;
}

.product-tile__content {
    display         : flex;
    flex-flow       : column;
    justify-content : space-between;
}

.product-tile__bottom-content {
    display         : flex;
    align-items     : end;
    justify-content : space-between;
    position        : relative;
    bottom          : 0
}
