<template class="product-tile card frost">
	<require from="./product-tile.css"></require>

	<a class="text-decoration-none text-body" route-href="route: product-detail; params.bind: { id : id }">

		<div class="ratio ratio-16x9 overflow-hidden card-img-top">
			<img src.bind="thumbnail" alt="...">
		</div>

		<div class="card-body product-tile__content">
			<h5 class="card-title product-tile__title">${title}</h5>
			<br>
			<div class="product-tile__bottom-content justify-content-end">
				<span class="product-tile__price ">${price}</span>
			</div>
		</div>
	</a>
</template>
