<template class="product-details-main">
	<require from="valueConverters/currency-value-converter"></require>
	<require from="./product-details-main.css"></require>
	<require from="app.css"></require>
	<require from=".././custom-rating/custom-rating"></require>
	<div class="grid mt-5">
		<div class="row">
			<!-- Linke Spalte -->
			<div class="col-lg-6">
				<!-- Title -->
				<div class="col-12 mb-4">
					<div class="card frost default-main-shadow">
						<div class="card-body rounded-1">
							<div class="row">
								<div class="col-12">
									<h5 class="card-title">${data.title}</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Bild -->
				<div class="col-12 mb-4">
					<div class="card frost default-main-shadow overflow-hidden border-0">
						<img src.bind="data.image"
							 alt.bind="data.title"
							 class="product-details-main__image">
					</div>
				</div>

			</div>
			<!-- Linke Spalte Ende -->

			<!-- Rechte Spalte -->
			<div class="col-lg-6">
				<!-- Kaufen -->
				<div class="col-lg-12 mb-4">
					<div class="card frost default-main-shadow product-details-main__cart-block">
						<div class="card-body rounded-1">
							<div class="row">
								<div class="col-lg-12 mb-2 justify-content-end d-flex">
									<h1 class="card-title">${data.price | currency
									:
									'EUR'}</h1>
								</div>

								<div class="col-lg-6 mb-4 d-flex flex-column">
									<small class="mb-1">
										Versand durch
									</small>
									<img class="shipment-logo" src="src/img/${data.shipment}-logo.jpg">
								</div>
								<div class="col-lg-6 mb-4 d-flex justify-content-end align-items-center">
									<div class="h-100 position-relative d-flex justify-content-end align-items-center">
										<custom-rating
											rating.bind="data.rating"
											count.bind="data.ratingsCount"
										>
										</custom-rating>
									</div>
								</div>

								<div class="col-lg-8 d-flex justify-content-end">
									<button type="submit"
											class="btn btn-secondary border-primary w-100"
											disabled.bind="submitting"
											click.trigger="addToCart()"
											id="liveToastBtn"
									>
										In den Einkaufswagen!
										<span class="spinner-border spinner-border-sm"
											  role="status"
											  aria-hidden="true"
											  show.bind="submitting"
										>
										</span>
									</button>
								</div>

								<div class="col-lg-3">

									<select class="form-select" aria-label="Default select example" ref="dropdownOption">
										<option value="1" selected>Menge</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10+</option>
									</select>
								</div>

								<div class="col-lg-1">
									<div class="w-100 h-100 d-flex justify-content-center align-items-center product-details-main__favorite product-details-main__favorite--active">
										<i class="fa fa-heart"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Beschreibung -->
				<div class="col-12 mb-4">
					<div class="card frost default-main-shadow">
						<div class="card-body rounded-1">
							<div class="row">
								<div class="col-12">
									<h5 class="card-title border-bottom border-1">Produktbeschreibung</h5>
								</div>
								<div class="col-12">
									<p class="card-text">${data.description}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Rechte Spalte Ende -->
		</div>
	</div>
	<div class="toast-container position-fixed toast-position bottom-0">
		<div id="liveToast"
			 class="toast"
			 role="alert"
			 aria-live="assertive"
			 aria-atomic="true">
			<div class="toast-header">
				<h6 class="mb-0 me-auto text-on-surface">Vielen Dank!</h6>
				<button type="button"
						class="btn-close"
						data-bs-dismiss="toast"
						aria-label="Close"></button>
			</div>
			<div class="toast-body">
				<strong class="text-on-surface">
					Artikel zum Einkaufswagen hinzugefügt.
				</strong>
			</div>
		</div>
	</div>
</template>
