@use "src/theme";
@use "@material/icon-button/mixins";

.product-details-main {
    .product-details-main__image {
        width : 100%;
    }

    .product-details-main__price {
        font-weight : bold;
    }

    .toast-position {
        //left: 50%;
        //transform: translate(-50%, -20%);
        right   : 1rem;
        top     : 1rem;
        z-index : 10000;
    }

    .favorize-ripple-color {
        @include mixins.ink-color(theme.$primary-danger)
    }
}
