@use "../../../variables";
@use "@material/icon-button/mixins";
@use "@material/theme/color-palette";


.product-details-main {
    .product-details-main__image {
        width : 100%;
    }

    .product-details-main__price {
        font-weight : bold;
    }

    .toast-position {
        right   : 1rem;
        top     : 1rem;
        z-index : 10000;
    }

    .favorize-icon-button {
        @include mixins.ink-color(color-palette.$red-700)
    }
}
