<template class="product-details-main">
	<require from="valueConverters/currency-value-converter"></require>
	<require from="./product-details-main.css"></require>
	<require from="app.css"></require>
	<require from=".././custom-rating/custom-rating"></require>
	<require from="components/shop-select-menu/shop-select-menu"></require>
	<require from="components/shop-select-menu-option/shop-select-menu-option"></require>
	<require from="components/shop-icon-button/shop-icon-button"></require>

	<div class="mdc-layout-grid">
		<div class="mdc-layout-grid__inner">
			<!-- Linke Spalte -->
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
				<!-- Title -->
				<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mb-4">
					<div class="card frost default-main-shadow">
						<div class="card-body rounded-1">
							<div class="mdc-layout-grid__inner">
								<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
									<h5 class="card-title">${data.title}</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Bild -->
				<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mb-4">
					<div class="card frost default-main-shadow overflow-hidden border-0">
						<img src.bind="data.image"
							 alt.bind="data.title"
							 class="product-details-main__image">
					</div>
				</div>

			</div>
			<!-- Linke Spalte Ende -->

			<!-- Rechte Spalte -->
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
				<!-- Kaufen -->
				<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mb-4">
					<div class="card frost default-main-shadow product-details-main__cart-block">
						<div class="card-body rounded-1">
							<div class="mdc-layout-grid__inner">
								<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mb-2 justify-content-end d-flex">
									<h1 class="card-title">${data.price | currency
									:
									'EUR'}</h1>
								</div>

								<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mb-4 d-flex flex-column">
									<small class="mb-1">
										Versand durch
									</small>
									<img class="shipment-logo" src="src/img/${data.shipment}-logo.jpg">
								</div>
								<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mb-4 d-flex justify-content-end align-items-center">
									<div class="h-100 position-relative d-flex justify-content-end align-items-center">
										<custom-rating
											rating.bind="data.rating"
											count.bind="data.ratingsCount"
										>
										</custom-rating>
									</div>
								</div>
								<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 d-flex justify-content-end">
									<button type="submit"
											class="btn btn-secondary border-primary w-100"
											disabled.bind="submitting"
											click.trigger="addToCart()"
											id="liveToastBtn"
									>
										In den Einkaufswagen!
										<span class="spinner-border spinner-border-sm"
											  role="status"
											  aria-hidden="true"
											  show.bind="submitting"
										>
										</span>
									</button>
								</div>

								<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">

									<shop-select-menu view-model.ref="selectMenu" lable="Anzahl">
										<shop-select-menu-option value.bind="1" selected.bind="true">1</shop-select-menu-option>
										<shop-select-menu-option value.bind="2">2</shop-select-menu-option>
										<shop-select-menu-option value.bind="3">3</shop-select-menu-option>
										<shop-select-menu-option value.bind="4">4</shop-select-menu-option>
										<shop-select-menu-option value.bind="5">5</shop-select-menu-option>
									</shop-select-menu>

								</div>
								<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 text-center">
									<shop-icon-button
										icon="favorite_border"
										icon-on="favorite"
										class="bg-transparent position-relative text-danger favorize-ripple-color"
									>
									</shop-icon-button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Beschreibung -->
				<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mb-4">
					<div class="card frost default-main-shadow">
						<div class="card-body rounded-1">
							<div class="mdc-layout-grid__inner">
								<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
									<h5 class="card-title border-bottom border-1">Produktbeschreibung</h5>
								</div>
								<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
									<p class="card-text">${data.description}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Rechte Spalte Ende -->
		</div>
	</div>
	<div class="toast-container position-fixed toast-position bottom-0">
		<div id="liveToast"
			 class="toast"
			 role="alert"
			 aria-live="assertive"
			 aria-atomic="true">
			<div class="toast-header">
				<h6 class="mb-0 me-auto text-on-surface">Vielen Dank!</h6>
				<button type="button"
						class="btn-close"
						data-bs-dismiss="toast"
						aria-label="Close"></button>
			</div>
			<div class="toast-body">
				<strong class="text-on-surface">
					Artikel zum Einkaufswagen hinzugefügt.
				</strong>
			</div>
		</div>
	</div>
</template>
