@use "../../../variables";

$grey-highlight-bg        : #e9ecef;
$grey-highlight-font      : #212529;

$primary-rgb              : variables.$primary-color;
$highlighted-border       : variables.$highlighted;
$highlighted-border-width : 1px;
$input-background-color   : rgba(variables.$primary-color, 0.7);

.search-bar {
    min-width : 300px;
    width     : 45vw;
    height    : 36px;
    position  : relative;
    display   : block;

    &.search-bar--has-suggestions {
        .search-bar__form {
            box-shadow : variables.$default-box-shadow variables.$default-box-shadow-color;
        }

        .search-bar__input {
            border-bottom-left-radius  : 0;
            border-bottom-right-radius : 0;
        }
    }

    .search-bar__form {
        position            : absolute;
        width               : 100%;
        top                 : 0;
        left                : 0;
        z-index             : 5;
        backdrop-filter     : blur(30px);
        flex-direction      : column;
        display             : flex;
        border-radius       : variables.$default-border-radius;
        overflow            : hidden;
        transition          : box-shadow;
        transition-duration : 100ms;
    }

    .search-bar__input {
        width               : 100%;
        border              : none;
        color               : darken(variables.$text-on-primary, 20%);
        backdrop-filter     : blur(30px);
        transition          : background-color, color;
        transition-duration : 100ms;
        box-sizing          : border-box;
        border-radius       : variables.$default-border-radius;
        background-color    : $input-background-color;

        &:focus {
            color            : variables.$text-on-primary;
            background-color : variables.$highlighted-background !important;
            border           : $highlighted-border-width solid #{$highlighted-border};
            padding          : #{6px - $highlighted-border-width} #{12px - $highlighted-border-width};
        }

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color : darken(variables.$text-on-primary, 30%);
        }
    }

    .search-bar__suggestions {
        width         : 100%;
        padding-left  : 0;
        list-style    : none;
        margin-top    : 1px;
        margin-bottom : 0;

        .search-bar__suggestions__item {
            border-radius : 0;
            border        : none;
            cursor        : pointer;
            transition    : none;
            background-color: $input-background-color;

            box-sizing    : border-box;

            &:last-of-type {
                padding-bottom             : 7px;
                border-bottom-right-radius : variables.$default-border-radius;
                border-bottom-left-radius  : variables.$default-border-radius;
            }
        }

        .search-bar__suggestions__item:hover {
            background-color : variables.$highlighted-background !important;
        }

        .search-bar__suggestions__item:focus {
            background-color : variables.$highlighted-background !important;
            color            : #{variables.$text-on-primary};
            border           : $highlighted-border-width solid #{$highlighted-border};
            padding          : #{6px - $highlighted-border-width} #{12px - $highlighted-border-width};
        }
    }
}
